/target
/.project
/.settings
/jitest.core/target
/jitest.core/bin
/jitest.core/jspec-output
/jitest.core/.classpath
/jitest.core/.project
/jitest.core/.settings
/jitest.fortest/target
/jitest.fortest/bin
/jitest.fortest/jspec-output
/jitest.fortest/.classpath
/jitest.fortest/.project
/jitest.fortest/.settings
/jitest.integrated/target
/jitest.integrated/bin
/jitest.integrated/jspec-output
/jitest.integrated/.classpath
/jitest.integrated/.project
/jitest.integrated/.settings
/jitest.junit/target
/jitest.junit/bin
/jitest.junit/jspec-output
/jitest.junit/.classpath
/jitest.junit/.project
/jitest.junit/.settings
/jitest.nodep/target
/jitest.nodep/bin
/jitest.nodep/jspec-output
/jitest.nodep/.classpath
/jitest.nodep/.project
/jitest.nodep/.settings
/jitest.spec/target
/jitest.spec/bin
/jitest.spec/jspec-output
/jitest.spec/.classpath
/jitest.spec/.project
/jitest.spec/.settings
/jitest.testng/target
/jitest.testng/bin
/jitest.testng/jspec-output
/jitest.testng/.classpath
/jitest.testng/.project
/jitest.testng/.settings
