/target
/.project
/.settings
/test4j.core/target
/test4j.core/bin
/test4j.core/jspec-output
/test4j.core/.classpath
/test4j.core/.project
/test4j.core/.settings
/test4j.fortest/target
/test4j.fortest/bin
/test4j.fortest/jspec-output
/test4j.fortest/.classpath
/test4j.fortest/.project
/test4j.fortest/.settings
/test4j.integrated/target
/test4j.integrated/bin
/test4j.integrated/jspec-output
/test4j.integrated/.classpath
/test4j.integrated/.project
/test4j.integrated/.settings
/test4j.junit/target
/test4j.junit/bin
/test4j.junit/jspec-output
/test4j.junit/.classpath
/test4j.junit/.project
/test4j.junit/.settings
/test4j.nodep/target
/test4j.nodep/bin
/test4j.nodep/jspec-output
/test4j.nodep/.classpath
/test4j.nodep/.project
/test4j.nodep/.settings
/test4j.spec/target
/test4j.spec/bin
/test4j.spec/jspec-output
/test4j.spec/.classpath
/test4j.spec/.project
/test4j.spec/.settings
/test4j.testng/target
/test4j.testng/bin
/test4j.testng/jspec-output
/test4j.testng/.classpath
/test4j.testng/.project
/test4j.testng/.settings
