table {
	background-color: #FFF;
	border: 1px solid #ccc;
	border-collapse: collapse;
	margin: 30px 40px 0px 40px;
}

table th {
	padding-left: 5px;
	color: #666;
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	background: #eeeeee;
	height: 21px;
	padding-top: 3px;
	padding-bottom: 3px;
}

table td {
	padding-left: 5px;
	color: #333;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	height: 19px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

td.success {
	color: green;
}

td.suspend {
	color: gray;
}

td.failure {
	color: red;
}