package ${package};

import org.test4j.module.spec.annotations.Mix;
import org.test4j.module.spec.annotations.Mixes;
${mixImports}

/**
 * @author darui.wu
 * @create 2019/11/15
 */
@Mixes
public class StubMixes {
${mixFields}
}