package ${baseDao.package};

import cn.org.atool.fluent.mybatis.base.BaseDaoImpl;
import ${entity.package}.${entity.name};
import ${mapper.package}.${mapper.name};
import ${mapping.package}.${mapping.name};
import ${cfg.packEntityQuery}.${cfg.fileEntityQuery};
import ${cfg.packEntityUpdate}.${cfg.fileEntityUpdate};
import org.springframework.beans.factory.annotation.Autowired;
#if(${cfg.baseDaoInterfaceImports})
${cfg.baseDaoInterfaceImports}
#end

/**
* ${entity.name}数据库操作服务类
 *
 * @author ${author}
*/
public abstract class ${baseDao.name} extends BaseDaoImpl<${entity.name}, ${cfg.fileEntityQuery}, ${cfg.fileEntityUpdate}>
        implements ${mapping.name}#if(${cfg.baseDaoInterfaceImplement}), ${cfg.baseDaoInterfaceImplement}#end {

    @Autowired
    protected ${mapper.name} mapper;

    @Override
    public ${mapper.name} mapper() {
        return mapper;
    }

    @Override
    public ${cfg.fileEntityQuery} query(){
        return new ${cfg.fileEntityQuery}();
    }

    @Override
    public ${cfg.fileEntityUpdate} update(){
        return new ${cfg.fileEntityUpdate}();
    }

    @Override
    public String findPkColumn() {
#foreach($field in ${fields})
    #if(${field.primary})
        #set($primaryKey=${field.name})
    #end
#end
    #if(${primaryKey})
        return ${mapping.name}.Column.${primaryKey};
    #else
        throw new RuntimeException("undefine primary key");
    #end
    }
}
