package ${package}.mix;

import org.test4j.module.spec.IMix;
import org.test4j.module.spec.annotations.Step;
import ${package}.stub.${klass}Stub;

/**
 * @author darui.wu
 * @create 2019/11/15
 */
public class ${klass}Mix implements IMix {

    @Step("你的方法描述, 输入{1}, 输入{2}")
    public void demo(int input1, int input2) {
        new ${klass}Stub() {
            //@Mock
            //@Override
            public void mockYourMethod(){
                //具体mock实现
            }
        };
    }
}
