package ${package}.stub;

import org.test4j.mock.MockUp;
import org.springframework.stereotype.Component;
${imports}

/**
 * @author generate code
 */
@Component
public class ${klass}Stub extends MockUp<${klass}Stub> implements ${klass} {
${methods}
}
